<%= form_for(@point_line_item) do |f| %>
  <% if @point_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_line_item.errors.count, "error") %> prohibited this point_line_item from being saved:</h2>

      <ul>
      <% @point_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.text_field :points %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :points_actual %><br>
    <%= f.text_field :points_actual %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
