<h1>Listing point_line_items</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Points</th>
      <th>Source</th>
      <th>Created At</th>
      <th>Points Actual</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @point_line_items.each do |point_line_item| %>
      <tr>
        <td><%= point_line_item.id %></td>
        <td><%= point_line_item.user_id %></td>
        <td><%= point_line_item.points %></td>
        <td><%= point_line_item.source %></td>
        <td><%= l point_line_item.created_at, format: :short %></td>
        <td><%= point_line_item.points_actual %></td>
        <td><%= link_to 'Show', point_line_item %></td>
        <td><%= link_to 'Edit', edit_point_line_item_path(point_line_item) %></td>
        <td><%= link_to 'Destroy', point_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point line item', new_point_line_item_path %>
<br>
<%= link_to 'Delete expired points', delete_expired_point_line_items_path %>
<br>
<%= link_to 'Emulate points expiration', emulate_expiration_point_line_items_path %>
